<div id="hotels" class="page">
  <div class="clear"></div>
  <h1>Hotels</h1>
  <div class="seperator"></div>
  <div class="section-01" style="margin-top:20px;"> 
    <h6>Coming soon</h6>
  </div>

  <div class="clear2x"></div>
  <div class="line"></div>
</div>
