<div id="home">
	<div class="home-image-area"><img src="images/main.jpg" alt="" class="home-image-fix" /></div>
	<div class="home-main-image-text">Michael &amp; Rachel</div>
	<div class="home-text">We'd like you to join our wedding <br /> on May 25th, 2014 <br /> at Castle Hill on The Crane Estate</div>
	<div class="clear3x"></div>
	<div class="line"></div>
</div>
