<div id="our-story" class="page">
  <div class="clear"></div>
  <h1>Our Story</h1>
  <div class="seperator"></div>
  <div class="section-01"> 
    <h6>How We Met</h6>
    <h4>
      One day after work, a friend of mine and bridesmaid, Allie, invited me out for drinks. Her boyfriend, now husband, lived near my neighborhood, and she needed something to do before he got home. So to the bar we went! What I thought was going to be a quick hour ended up being three, and not having eaten all day, I started feeling pretty good. So on our third hour at the bar, Allie's boyfriend finally showed up. And he came with his roommate, Michael. Michael sat at the table and we loudly argued our differences in college basketball and other sports teams. And by hour four, I knew I wanted to see him again.
    </h4>
  </div>

  <div class="section-01"> 
    <h6>The Proposal</h6>
    <h4>
      ...
    </h4>
  </div>
  <div class="clear2x"></div>
  <div class="line"></div>
</div>