<div id="our-story" class="page">
  <div class="clear"></div>
  <h1>Our Story</h1>
  <div class="seperator"></div>
  <div class="section-01"> 
    <h6>How We Met - as told by Rachel</h6>
    <h4>
      One day after work, a friend of mine and bridesmaid, Allie, invited me out for drinks. Her boyfriend, now husband, lived near my neighborhood, and she needed something to do before he got home. So to the bar we went! What I thought was going to be a quick hour ended up being three, and not having eaten all day, I started feeling pretty good. So on our third hour at the bar, Allie's boyfriend finally showed up. And he came with his roommate, Michael. Michael sat at the table and we loudly argued our differences in college basketball and other sports teams. And by hour four, I knew I wanted to see him again.
    </h4>
  </div>

  <div class="section-01"> 
    <h6>The Proposal - as told by Michael</h6>
    <img src="images/proposal/proposal.jpg" width=650 height=245 style="margin-left:10px;" \>
    <h4>
      <p>
        It was a typical fall New England day, the perfect day for a hike. Rachel had been looking forward to taking a nice hike for some time but for some reason today was not that day. Since I had something up my sleeve for this particular hike I would have none of it! We were going!!
      </p>
      <p>
        After driving for some time we finally approached the Mt. Washington area only to find it covered in fog! Not to be turned back I insisted that the fog was probably not that high and that after a little while we would be above the fog and it would be nice out. Rachel was skeptical to say the least.
      </p>
      <div>
        <img src="images/proposal/rachel_hike.jpg" width=200 height=218 style="margin-left:10px;float:right;" \>
        <p>
          After hiking for a little while we began to clear the fog, as I had predicted, to see that it was in fact a rather nice day. Sadly Rachel has not been quite as prepared for the hike as I had anticipated and as a result she became a tad bit crabby. Fortunately I was able to snap a lovely picture of her at that time.
          <br/><br/>
          Despite her crabby mood Rachel pressed on! The struggle of Rachel vs Nature continued over slippery boulder after slippery boulder.
          <br/><br/>
          After a short break we pressed on for a few minutes more. Just as all hope was lost we spotted a clearing ahead, was it the top? Had we made it!?! Just a little longer and we would know.
        </p>
      </div>
      <p>
        As we entered the clearing it became clear to both of us that the worst was behind us and that we made it to the top! We found a nice spot were we could see out over the landscape below us and broke out some well deserved lunch. While we ate Rachel asked to see the photos I had taken so far on my phone. I handed her the phone and she started flipping though them in reverse order. As she approached the beginning of the photos I started to get a little nervous...as she flipped past the final photo there was one extra photo, a picture of her engagement ring.
      </p>
      <p>
        With that I reached into my hiking backpack and pulled out a ring box. At this point Rachel was shocked, confused and was trying to figure out what was happening. I then opened the ring box and formally asked her to marry me. 
      </p>
      <p>
        She said "yes".
      </p>
      <p>
        After a while we figured we should head back so we could let everyone know the good news. We packed up our things and continued on expecting the trail to start to head down back to where we had parked. It turns out the trail continued to climb, we were not in fact at the top! I was bummed! I had planned to ask her at the top!!
      </p>
      <p>
        Once we finally made it to the top, which was nice and all, I realized I had completely forgotten something! I turned to Rachel, apologizing yet again for not waiting until we got to the top, and told her that we needed to find somewhere to sit because I has something else for us. Now she was really confused but once we found a nice spot I again reached into my backpack and this time pulled out a mini bottle of champaign and some small cups. We toasted to us, relaxed a bit longer and then headed back to the car to spread the good news.
      </p>
    </h4>
  </div>
  <div class="clear2x"></div>
  <div class="line"></div>
</div>