<div id="our-story" class="page">
	<div class="clear"></div>
	<h1>Our Story</h1>
	<div class="seperator"></div>
	<p style="text-align:justify;">
		Blah, blah, blah....
	</p>
	<div class="clear2x"></div>
	<div class="line"></div>
</div>