<div id="registry" class="page">
	<div class="clear"></div>
	<h1>REGISTRY</h1>
	<div class="seperator"></div>
	<div class="registry-area">		
		<div class="registry-texts">
			<h6>We are register at:</h6>
			<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laor eet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consect etuer adipiscing.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing lorem ipsum.</h4>
		</div>
		<div class="clear"></div>
		<div id="registry-list">
			<ul class="registry-list">
				<li><a href="#"><img src="images/reg-01.png" width="180px" height="57px" alt="" /></a></li>
				<li><a href="#"><img src="images/reg-02.png" width="180px" height="57px" alt="" /></a></li>
				<li><a href="#"><img src="images/reg-03.png" width="180px" height="57px" alt="" /></a></li>
			</ul>
		</div>
	</div>
	<div class="line"></div>
</div>