<div id="registry" class="page">
  <div class="clear"></div>
  <h1>REGISTRY</h1>
  <div class="seperator"></div>
  <div class="registry-area">		
    <div class="registry-texts">
      <h6>Coming Soon</h6>
    </div>
  </div>
  <div class="line"></div>
</div>