<div id="restaurants" class="page">
  <div class="clear"></div>
  <h1>Restaurants</h1>
  <div class="seperator"></div>
  <div class="section-01" style="margin-top:20px;"> 
    <h6>Grafton Street Pub & Grill - Harvard Square, Cambridge</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Want to reenact Michael & Rachel’s first date? Then head over to Grafton Street Pub & Grill.
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s First Date Dish: Brandt Farms Grilled Bavette Steak
        <br/>
        Rachel’s Frist Date Dish: Baked Lobster Macaroni And Cheese
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://graftonstreetcambridge.com">http://graftonstreetcambridge.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Upstairs on the Square - Harvard Square, Cambridge</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        This whimsical restaurant is great for a ladies’ day out. Go for brunch, lunch, dinner or tea! Upstairs on the Square is Rachel’s pick for favorite restaurant. 
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Can’t recommend anything – never been. Too pink.
        <br/>
        Rachel’s Recommendation: The free bread
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.upstairsonthesquare.com">http://www.upstairsonthesquare.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Tavern in the Square - Porter Square & Central Square, Cambridge </h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Speaking of the bar where we met, this is it! This is also Rachel's go-to to watch Green Bay Packers’ games.
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Ultimate Nachos
        <br/>
        Rachel’s Recommendation: White Truffle Mac ‘n Cheese
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.taverninthesquare.com">http://www.taverninthesquare.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Newtowne Grill - Porter Square, Cambridge</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Looking for a little Northern Wisconsin in Boston? Then this dive bar is the one for you! Newtowne Grill is Michael’s pick for favorite restaurant. 
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Ultimate Chicken Parm
        <br/>
        Rachel’s Recommendation: French Fries
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.newtownegrillecambridge.com">http://www.newtownegrillecambridge.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Christopher’s - Porter Square, Cambridge</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Another popular dinner spot for us is Christopher’s, located in Porter Square. This is normally where we meet Dan and Allie’s families for the first time. 
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Spicy Pepperjack Burger
        <br/>
        Rachel’s Recommendation: Blackened Sirloin Salad
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.christopherscambridge.com">http://www.christopherscambridge.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Sound Bites - Ball Square, Somerville</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        If you want to wander 20 minutes north of the Porter Square T-stop, we recommend to head over to Sound Bites. Located in Ball Square, many Saturday brunches take place here.
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: A Grilled Corn Muffin
        <br/>
        Rachel’s Recommendation: Home Fries
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://soundbitesrestaurant.com">http://soundbitesrestaurant.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Mike’s Pastry - North End, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        The best cannoli around! Don’t let the line out the door scare you away because it’s worth the wait. Just a warning, don’t think you’ll get away with bringing a wallet full of cards because, as Randy Moss puts it, they only take “straight cash, homie.”
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Chocolate Chip Cannoli
        <br/>
        Rachel’s Recommendation: Lemon Cannoli
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.mikespastry.com">http://www.mikespastry.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01" style="margin-top:20px;"> 
    <h6>Quincy Market, Boston Chowda Company - Faneuil Hall, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        You can’t visit Boston and not have a little chowda!
      </p> 
      <p style="padding: 8px 0 0 0;">
        Michael’s Recommendation: Clam Chowder in a Bread Bowl
        <br/>
        Rachel’s Recommendation: Ditto
      </p>
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.bostonchowda.com">http://www.bostonchowda.com</a>
      </p>
    </h4>
  </div>

  <div class="clear2x"></div>
  <div class="line"></div>
</div>