<div id="rsvp" class="page">
  <h1>RSVP</h1>
  <div class="seperator"></div>
  <div class="clear2x"></div>

  <div class="section-01"> 
    <h6 style="text-align:center">Coming Soon</h6>
  </div>

  <div id="note"></div>
  <div class="clear"></div>
  <div class="line"></div>
</div>