<div id="things-to-do" class="page">
  <div class="clear"></div>
  <h1>Things to do</h1>
  <div class="seperator"></div>
  <div class="section-01"> 
    <h6>Harbor Walk - North End / Waterfront, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Need some exercise after the cannoli you just had from Mike’s Pastry? We recommend the Boston Harbor Walk. A good place to start is the New England Aquarium and head over the Boston Courthouse for the best view of the city.
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://bostonharborwalk.com">http://bostonharborwalk.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Whale Watching - North End / Waterfront, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        If you get really sea sick, this may not be the best option for you. But it’s a very cool experience if you have your sea legs. You can purchase tickets at the New England Aquarium.
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.neaq.org/visit_planning/whale_watch">http://www.neaq.org/visit_planning/whale_watch</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>TD Garden - North End, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        If you’re lucky, we may have playoff fever in Boston. Depending on the sport, check out the Celtics and/or Bruins at the TD Garden.
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://tdgarden.com">http://tdgarden.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Boston Duck Tour - North End or Back Bay, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Best way to see Boston by far! As soon as you purchase tickets online, start practicing your, “Quack, quack!”
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://bostonducktours.com">http://bostonducktours.com</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Boston Common & the Boston Gardens - Beacon Hill, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        If it is a nice day, take a stroll in Boston Common and the Boston Gardens. 
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.cityofboston.gov/FreedomTrail/bostoncommon.asp">http://www.cityofboston.gov/FreedomTrail/bostoncommon.asp</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Red Sox Game - Fenway, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        The Red Sox are “rebuilding” which means the next couple of years we anticipate they’ll really suck! We recommend heading to watch a game at the historic Fenway Park!
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://boston.redsox.mlb.com/bos/ballpark/index.jsp">http://boston.redsox.mlb.com/bos/ballpark/index.jsp</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Museum of Fine Arts - Fenway, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        We hope for good weather the entire weekend, but you never know. On a rainy day, venture into the Museum of Fine Arts (MFA).
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.mfa.org">http://www.mfa.org</a>
      </p>
    </h4>
  </div>

  <div class="section-01"> 
    <h6>Sam Adam’s Brewery Tour - Egleston Square, Boston</h6>
    <h4 style="padding-top:5px;">
      <p style="padding:0px;">
        Love beer? So do we! This is a great activity and can bring out the Chemical Engineer in all of you!
      </p> 
      <p style="padding: 8px 0 0 0;">
        <a href="http://www.samueladams.com/brewery-and-craft/our-brewery">http://www.samueladams.com/brewery-and-craft/our-brewery</a>
      </p>
    </h4>
  </div>
  <div class="clear2x"></div>
  <div class="line"></div>
</div>