<div id="out-of-towners" class="page">
	<div class="clear"></div>
	<h1>TRAVEL</h1>
	<div class="seperator"></div>
		<div class="clear2x"></div>
		<!-- oot 01 -->
		<div class="oot-01">
			<a href="#"><img src="images/oot-01.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>HOTELS</h6>
			<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt laor eet dolore.</h4>
		</div>
		<!-- oot 01 -->
		<!-- oot 02 -->
		<div class="oot-01">
			<a href="#"><img src="images/oot-01.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>RESTAURANTS</h6>
			<h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset</h4>
		</div>
		<!-- oot 02 -->
		<!-- oot 03 -->
		<div class="oot-01">
			<a href="#"><img src="images/oot-01.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>TRANSPORTATION</h6>
			<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt laor eet dolore.</h4>
		</div>
		<!-- oot 03 -->
		<!-- oot 04 -->
		<div class="oot-01">
			<a href="#"><img src="images/oot-01.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>THINGS TO DO</h6>
			<h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset</h4>
		</div>
		<!-- oot 04 -->
	<div class="line"></div>
</div>