<div id="travel" class="page">
	<div class="clear"></div>
	<h1>TRAVEL</h1>
	<div class="seperator"></div>
		<div class="clear2x"></div>
		<div class="oot-01">
			<a href="/hotels"><img src="images/hotels.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>HOTELS</h6>
			<h4>For you out of towners, here is a list of hotels we have blocked rooms at. However, feel free to do your own thing as well! <a href="/hotels">Click here for more information</a>.</h4>
		</div>
		<div class="oot-01">
			<a href="/restaurants"><img src="images/food.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>RESTAURANTS</h6>
			<h4>The best part about traveling is the food and Boston has tons of great options! We decided to put together some of our favorite spots for you to try while you’re out here. <a href="/restaurants">Click here for more information</a>.</h4>
		</div>
		<div class="oot-01">
			<a href="/transportation"><img src="images/bus.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>TRANSPORTATION</h6>
			<h4>We will provide shuttle buses from a central area in the citry to the wedding, so no need to rent a car for the week! For the rest of the weekend, the T is a cheap and easy way to get around. <a href="/transportation">Click here for more information</a>.</h4>
		</div>
		<div class="oot-01">
			<a href="/things_to_do"><img src="images/fun.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>THINGS TO DO</h6>
			<h4>There is plenty to do in Boston and, if you ask Hugh and Cheryl Zettel, there are also plenty of graveyards to see! We recommend you study up, but here is a short list of some of our favorite things! <a href="/things_to_do">Click here for more information</a>.</h4>
		</div>
	<div class="line"></div>
</div>