<div id="thank-you" class="page">
	<div class="clear"></div>
	<h1>Wedding Party</h1>
	<div class="seperator"></div>
	<div class="section-01"> 
		<h6 style="text-align:center">Bridesmaids</h6>
		<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laor eet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h4>
	</div>
	<div class="section-01"> 
		<h6 style="text-align:center">Groomsman</h6>
		<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laor eet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h4>
	</div> 	

	<div class="section-01"> 
		<h6 style="text-align:center">Ring Bearer and Flower Girl</h6>
		<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laor eet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h4>
	</div> 	

	<div class="section-01"> 
		<h6 style="text-align:center">Officiator</h6>
		<h4>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laor eet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h4>
	</div> 	
	<div class="line"></div>
</div>