<div id="wedding-party" class="page">
  <div class="clear"></div>
  <h1>Wedding Party</h1>
  <div class="seperator"></div>
  <div class="section-01"> 
    <h6 style="text-align:center">Maid of Honor</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Angie Bidinger
      </p>
      <div>
        <img src="images/wedding_party/angie.jpg" alt="Angie" width=250 height=200 style="float:right;margin-left:10px;margin-top:10px;"/>
        <p style="text-align:left;">
          Angie and I met our sophomore year at the University of Minnesota, our dorm rooms were right next to each other. I can still remember the first time I met Angie; I was in a study lounge at our dorm waiting for our House's meeting to start - our House consisted of all the people in the hallway of our dorm. In walks Angie, and she walks right up to me and asks if she can sit to my right. Of course I let her, and she proceeds to introduce herself and talk about a billion other things. I remember thinking to myself, "Wow, this girl is too outgoing. I'll never hang out with her."
          <br /><br />
          I was incredibly wrong. Angie would come over to my room all the time. We'd watch Sex and the City and hang out. Our junior and senior year, we ended up living together, and she's a huge reason why I kept some sanity in college. 
          <br /><br />
          Angie is ridiculous, blunt, and unfiltered which makes me laugh. But she's also kind and supportive. I'm so lucky to call her my friend. 
          <br /><br />
          Angie lives in Minnesota with the love of her life - her dog, Oscar. 
        </p>
      </div>
    </h4>
  </div>
  <div class="section-01"> 
    <h6 style="text-align:center">Bridesmaids</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Michele Macasek
      </p>
      <div>
        <img src="images/wedding_party/michele.jpg" alt="Angie" width=250 height=200 style="float:right;margin-left:10px;margin-top:10px;"/>
        <p style="text-align:left;">
          Michele is Michael’s favorite sister – I can say this because she is his only sister. I’m going to admit, I was really nervous about meeting Michael’s family, but Michele completely put me at ease. The first time we met, we discussed important topics like Michael’s absurdly large t-shirt collection and, equally as large, DVD collection. Actually, that conversation was the first time I had heard about Michael’s DVD collection– I later realized that was what the 4 large, blue tubs were in our basement. Michele definitely has her brother pegged. I have her to thank for our lovely leg lamp which sits on my nightstand next time I see her. 
          <br /><br />
          Michele is hilarious. And even though we don’t see each other very often, it’s always a delight when we do!
          <br /><br />
          Michele lives in South Carolina. Unlike her brother, she does not like snow and cold weather. 
        </p>
      </div>
    </h4>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Monica Zettel
      </p>
      <div>
        <img src="images/wedding_party/monica.jpg" alt="Monica" width=250 height=200 style="float:right;margin-left:10px;margin-top:10px;"/>
        <p style="text-align:left;">
          Monica is my younger, and only, sister. We’ve shared many lovely experiences together, including a room while our parents renovated our house. That actually was not so lovely. And now, even though we are six years and 1,000 miles apart, Monica and I are super close. We bond over our enjoyment of tennis, embarrassing parents, and love for the television show FRIENDS. "How you doin?"
          <br /><br />
          Monica is insanely brave. No matter what life throws at her, she attacks in head on and with her gorgeous smile. She is one of my biggest inspirations, and I love her to death!
          <br /><br />
          Monica lives with my parents. Don’t worry; she’s still in high school so it’s cool. 
        </p>
      </div>
    </h4>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Allie Bartak
      </p>
      <div>
        <img src="images/wedding_party/missing.jpg" alt="Allie" width=250 height=200 style="float:right;margin-left:10px;margin-top:10px;"/>
        <p style="text-align:left;">
          Allie is one of my coworkers, but I consider her part of my New England family. When I first moved to Boston, I didn’t know anyone. And even though she didn’t have to, Allie made sure I was transitioning okay and had things to do on the weekend. Allie was also my caretaker when I wound up in the emergency room with an awful case of strep throat and mono – I know my mom really appreciated that! Allie also played matchmaker for me and Michael. She says that she knew we would be good for each other because we were both tall. 
          <br /><br />
          Allie is extremely caring and can always pick me up when I’m feeling down She recently became a new mom, and I know she’s going to be a kick ass one!
          <br /><br />
          Allie lives in New Hampshire with her husband Dan (Michael’s partner in crime) and their beautiful baby boy Baxter.
        </p>
      </div>
    </h4>
  </div>
  <div class="section-01"> 
    <h6 style="text-align:center">Bestman</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Dan Whitmoyer
      </p>
      <div>
        <p style="text-align:left;">
        </p>
      </div>
    </h4>
  </div>
  <div class="section-01"> 
    <h6 style="text-align:center">Groomsman</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Goss Nizzo-Jones
      </p>
      <div>
        <p style="text-align:left;">
        </p>
      </div>
    </h4>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Andrew Macasek
      </p>
      <div>
        <p style="text-align:left;">
        </p>
      </div>
    </h4>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        Kevin Zettel
      </p>
      <div>
        <img src="images/wedding_party/kevin.jpg" alt="Angie" width=250 height=200 style="float:right;margin-left:10px;margin-top:10px;"/>
        <p style="text-align:left;">
          Kevin...
        </p>
      </div>
    </h4>
  </div> 	

  <div class="section-01"> 
    <h6 style="text-align:center">Ring Bearer</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        TDB
      </p>
      <div>
        <p style="text-align:left;">
        </p>
      </div>
    </h4>
  </div> 	

  <div class="section-01"> 
    <h6 style="text-align:center">Flower Girl</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        TDB
      </p>
      <div>
        <p style="text-align:left;">
        </p>
      </div>
    </h4>
  </div>  

  <div class="section-01"> 
    <h6 style="text-align:center">Officiator</h6>
    <h4>
      <p style="font-weight:bold;color:#243350;">
        TDB
      </p>
      <p style="text-align:left;">
      </p>
    </h4>
  </div> 	
  <div class="line"></div>
</div>